<!DOCTYPE html>
<html>
    <head profile="http://www.w3.org/2005/10/profile">
        <link rel="icon" 
              type="image/png" 
              href="/images/favicon.png" />
        <title>Octopush</title>
        <meta http-equiv="refresh" content="15" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="css/font-awesome.css" rel="stylesheet" media="screen" />
        <link href="css/bootstrap-social.css" rel="stylesheet" media="screen" />
        <link href="css/octopush.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <img src="/images/logo.png" />
                <small>v{{ version }}</small>
                {% if app.user %}
                    <span class="loginBox">Hello {{ app.user.username }}
                        {% if app.is_admin_user %}
                            (admin)
                        {% endif %}
                        | <a href="{{ logoutUrl }}">Logout</a></span>
                    {% else %}
                        <span class="loginBox" style="width: 180px;">
                            <a class="btn btn-block btn-social btn-github" href="/login"><i class="fa fa-github"></i>Sign in with GitHub</a>
                        </span>
                    {% endif %}
            </div>
            {% if isPaused %}
            <div class="bs-callout bs-callout-warning">
                <h4>Octopush service is Paused right now due to a current incident</h4>
                <p>Please contact {{ contact }}.</p>
            </div>
            {% endif %}
                <h3>Pre-Production</h3>
                <div id="preprod">
                <h4>Queue <span class="glyphicon glyphicon-sort-by-attributes"></span></h4>
                    {% if queued_jobs is empty %}
                    <div class="alert alert-info"><strong>EMPTY!</strong> No pending jobs</div>
                {% else %}
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th><small>ID</small></th>
                                <th class="module-column"><small>Module</small></th>
                                <th><small>Version</small></th>
                                <th class="status-column"><small>Status</small></th>
                                <th><small>Queue date</small></th>
                                <th><small>Last date</small></th>
                                <th class="actions-column"><small>Actions</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for queued_job in queued_jobs %}
                                <tr>
                                    <td><small>{{ queued_job.Id }}</small></td>
                                    <td><small>{{ queued_job.getTargetModule() }}</small></td>
                                    <td><small>{{ queued_job.getTargetVersion() }}</small></td>
                                    <td><span class="label label-{{ queued_job.getStatus() }}">
                                            <small>{{ queued_job.status }}</small>
                                        </span></td>

                                    <td><small>{{ queued_job.getQueuedDate() }}</small></td>
                                    <td><small>{{ queued_job.getUpdateDate() }}</small></td>
                                    {% if queued_job.getRequestorJenkins() is empty %}
                                        <td><small></small></td>
                                    {% else %}
                                        <td><small><a href="{{ queued_job.getRequestorJenkins() }}" target="_blank"><span class="glyphicon glyphicon-log-in"></span></a></small></td>
                                                {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if in_progress_jobs != false %}
                    <h4>In Progress <span class="glyphicon glyphicon-cloud-upload"></span></h4>
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th><small>ID</small></th>
                                <th class="module-column"><small>Module</small></th>
                                <th><small>Version</small></th>
                                <th class="status-column"><small>Status</small></th>
                                <th><small>Queue date</small></th>
                                <th><small>Last date</small></th>
                                <th class="actions-column"><small>Actions</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for in_progress_job in in_progress_jobs %}
                                <tr>
                                    <td><small>{{ in_progress_job.Id }}</small></td>
                                    <td><small>{{ in_progress_job.getTargetModule() }}</small></td>
                                    <td><small>{{ in_progress_job.getTargetVersion() }}</small></td>
                                    <td><span class="label label-{{ in_progress_job.getStatus() }}">
                                            <small>{{ in_progress_job.status }}</small>
                                        </span></td>

                                    <td><small>{{ in_progress_job.getQueuedDate() }}</small></td>
                                    <td><small>{{ in_progress_job.getUpdateDate() }}</small></td>
                                    <td><small>
                                            {% if in_progress_job.getRequestorJenkins != "" %}
                                                <a href="{{ jenkins.getRequestorJobConsoleUrl(in_progress_job) }}" target="_blank" title="view trigger job">
                                                    <span class="glyphicon glyphicon-log-in" />
                                                </a>
                                            {% endif %}
                                            {% if in_progress_job.getDeploymentJobId() > 0 %}
                                                <a href="{{ jenkins.getBuildUrl(in_progress_job) }}" target="_blank" title="view deployment job">
                                                    <span class="glyphicon glyphicon-log-out" />
                                                </a>
                                            {% endif %}
                                            {% if in_progress_job.getTestJobUrl != "" %}
                                                <a href="{{ jenkins.getTestJobConsoleUrl(in_progress_job) }}" target="_blank" title="view test job">
                                                    <span class="glyphicon glyphicon-ok" />
                                                </a>
                                            {% endif %}
                                        </small></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <h4>Deployed <span class="glyphicon glyphicon-sort-by-attributes-alt"></h4>
                {% if processed_jobs is empty %}
                    <div class="alert alert-info"><strong>EMPTY!</strong> No processed jobs</div>
                {% else %}
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th><small>ID</small></th>
                                <th class="module-column"><small>Module</small></th>
                                <th><small>Version</small></th>
                                <th class="status-column"><small>Status</small></th>
                                <th><small>Queue Date</small></th>
                                <th><small>Last update</small></th>
                                <th class="actions-column"><small>Actions</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for processed_job in processed_jobs %}
                                <tr>
                                    <td><small>{{ processed_job.getId() }}</small></td>
                                    <td><small>{{ processed_job.getTargetModule() }}</small></td>
                                    <td><small>{{ processed_job.getTargetVersion() }}</small></td>
                                    <td><span class="label label-{{processed_job.getStatus()}}"><small>{{ processed_job.status }}</small></span></td>

                                    <td><small>{{ processed_job.getQueuedDate() }}</small></td>
                                    <td><small>{{ processed_job.getUpdateDate() }}</small></td>
                                    <td><small>
                                            {% if processed_job.getRequestorJenkins != "" %}
                                                <a href="{{ jenkins.getRequestorJobConsoleUrl(processed_job) }}" target="_blank" title="view trigger job">
                                                    <span class="glyphicon glyphicon-log-in" />
                                                </a>
                                            {% endif %}
                                            {% if processed_job.getDeploymentJobId() > 0 %}
                                                <a href="{{ jenkins.getBuildUrl(processed_job) }}" target="_blank" title="view deployment job">
                                                    <span class="glyphicon glyphicon-log-out" />
                                                </a>
                                            {% endif %}
                                            {% if processed_job.getTestJobUrl != "" %}
                                                <a href="{{ jenkins.getTestJobConsoleUrl(processed_job) }}" target="_blank" title="view test job">
                                                    <span class="glyphicon glyphicon-ok" />
                                                </a>
                                            {% endif %}
                                            {% if processed_job.wentLive%}
                                                <a href="{{ jenkins.getLiveJobConsoleUrl(processed_job) }}" target="_blank" title="view live job">
                                                    <span class="glyphicon glyphicon-new-window" />
                                                </a>
                                            {% endif %}
                                            {% if (app.user and jobsController.canBePushedLive(processed_job)) %}                                            
                                                    <a href="javascript:goLive({{ processed_job.id }}, '{{ processed_job.targetModule }}', '{{ processed_job.targetVersion }}')" title="go live">
                                                        <span class="glyphicon glyphicon-new-window" />
                                                    </a>
                                            {% endif %}
                                        </small></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

            <h3>Production</h3>
            <div id="prod">
                <h4>Queue <span class="glyphicon glyphicon-sort-by-attributes"></span></h4>
                    {% if liveQueue is empty %}
                    <div class="alert alert-info"><strong>EMPTY!</strong> No pending jobs</div>
                {% else %}
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th><small>ID</small></th>
                                <th class="module-column"><small>Module</small></th>
                                <th><small>Version</small></th>
                                <th class="status-column"><small>Status</small></th>
                                <th><small>Queue date</small></th>
                                <th><small>Last update</small></th>
                                <th><small>Ticket</small></th>
                                <th class="actions-column"><small>Actions</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for queued_job in liveQueue %}
                                <tr>
                                    <td><small>{{ queued_job.Id }}</small></td>
                                    <td><small>{{ queued_job.getTargetModule() }}</small></td>
                                    <td><small>{{ queued_job.getTargetVersion() }}</small></td>
                                    <td><span class="label label-{{ queued_job.getStatus() }}">
                                            <small>{{ queued_job.status }}</small>
                                        </span></td>
                                    <td><small>{{ queued_job.getQueuedDate() }}</small></td>
                                    <td><small>{{ queued_job.getUpdateDate() }}</small></td>
                                    <td><small><a href="https://jira.olx.com/browse/{{ queued_job.getTicket() }}" target="__blank">{{ queued_job.getTicket() }}</a></small></td>
                                            {% if queued_job.getRequestorJenkins() is empty %}
                                        <td><small></small></td>
                                    {% else %}
                                        <td><small><a href="{{ queued_job.getRequestorJenkins() }}" target="_blank"><span class="glyphicon glyphicon-log-in"></span></a></small></td>
                                                {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if liveInProgress != false %}
                    <h4>In Progress <span class="glyphicon glyphicon-cloud-upload"></span></h4>
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th><small>ID</small></th>
                                <th class="module-column"><small>Module</small></th>
                                <th><small>Version</small></th>
                                <th class="status-column"><small>Status</small></th>
                                <th><small>Queue date</small></th>
                                <th><small>Last date</small></th>
                                <th><small>Ticket</small></th>
                                <th><small>Actions</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for in_progress_job in liveInProgress %}
                                <tr>
                                    <td><small>{{ in_progress_job.Id }}</small></td>
                                    <td><small>{{ in_progress_job.getTargetModule() }}</small></td>
                                    <td><small>{{ in_progress_job.getTargetVersion() }}</small></td>

                                    <td><span class="label label-{{ in_progress_job.getStatus() }}">
                                            <small>{{ in_progress_job.status }}</small>
                                        </span></td>

                                    <td><small>{{ in_progress_job.getQueuedDate() }}</small></td>
                                    <td><small>{{ in_progress_job.getUpdateDate() }}</small></td>
                                    <td><small><a href="https://jira.olx.com/browse/{{ in_progress_job.getTicket() }}" target="__blank">{{ in_progress_job.getTicket() }}</a></small></td>
                                    <td><small>
                                            {% if in_progress_job.getRequestorJenkins != "" %}
                                                <a href="{{ jenkins.getRequestorJobConsoleUrl(in_progress_job) }}" target="_blank" title="view trigger job">
                                                    <span class="glyphicon glyphicon-log-in" />
                                                </a>
                                            {% endif %}
                                            {% if in_progress_job.getDeploymentJobId() > 0 %}
                                                <a href="{{ jenkins.getBuildUrl(in_progress_job) }}" target="_blank" title="view deployment job">
                                                    <span class="glyphicon glyphicon-log-out" />
                                                </a>
                                            {% endif %}
                                            {% if in_progress_job.getTestJobUrl != "" %}
                                                <a href="{{ jenkins.getTestJobConsoleUrl(in_progress_job) }}" target="_blank" title="view test job">
                                                    <span class="glyphicon glyphicon-ok" />
                                                </a>
                                            {% endif %}
                                        </small></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <h4>Deployed <span class="glyphicon glyphicon-sort-by-attributes-alt"></h4>
                {% if liveProcessed is empty %}
                    <div class="alert alert-info"><strong>EMPTY!</strong> No processed jobs</div>
                {% else %}
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th><small>ID</small></th>
                                <th class="module-column"><small>Module</small></th>
                                <th><small>Version</small></th>
                                <th class="status-column"><small>Status</small></th>
                                <th><small>Queue Date</small></th>
                                <th><small>Last update</small></th>
                                <th><small>Ticket</small></th>
                                <th><small>Actions</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for processed_job in liveProcessed %}
                                <tr>
                                    <td><small>{{ processed_job.getId() }}</small></td>
                                    <td><small>{{ processed_job.getTargetModule() }}</small></td>
                                    <td><small>{{ processed_job.getTargetVersion() }}</small></td>
                                    <td><span class="label label-{{processed_job.getStatus()}}"><small>{{ processed_job.status }}</small></span></td>

                                    <td><small>{{ processed_job.getQueuedDate() }}</small></td>
                                    <td><small>{{ processed_job.getUpdateDate() }}</small></td>
                                    <td><small><a href="{{ processed_job.getTicket() }}" target="__blank">{{ processed_job.getTicket() }}</a></small></td>
                                    <td><small>
                                        {% if processed_job.getRequestorJenkins != "" %}
                                        <a href="{{ jenkins.getRequestorJobConsoleUrl(processed_job) }}" target="_blank" title="view trigger job">
                                           <span class="glyphicon glyphicon-log-in" />
                                        </a>
                                        {% endif %}
                                        {% if processed_job.getDeploymentJobId() > 0 %}
                                        <a href="{{ jenkins.getBuildUrl(processed_job) }}" target="_blank" title="view deployment job">
                                            <span class="glyphicon glyphicon-log-out" />
                                        </a>
                                        {% endif %}
                                        {% if processed_job.getTestJobUrl != "" %}
                                        <a href="{{ jenkins.getTestJobConsoleUrl(processed_job) }}" target="_blank" title="view test job">
                                           <span class="glyphicon glyphicon-ok" />
                                        </a>
                                        {% endif %}
                                        {% if processed_job.wentLive%}
                                        <a href="{{ jenkins.getLiveJobConsoleUrl(processed_job) }}" target="_blank" title="view live job">
                                            <span class="glyphicon glyphicon-new-window" />
                                        </a>
                                        {% endif %}
                                        {% if (app.user and jobsController.canBePushedLive(processed_job)) %}

                                            {% if (processed_job.wentLive)  %}
                                            <a href="javascript:rollback({{ processed_job.id }}, '{{ processed_job.targetModule }}', '{{ processed_job.targetVersion }}')" title="re-deploy">
                                                <span class="glyphicon glyphicon-repeat" />
                                            </a>
                                            {% endif %}

                                        {% endif %}
                                    </small></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
